.hero-section {
  background: url("../assets/boat-folding-origami-19678.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
}

.hero-section .hero-section-text {
  color: black;
  /* text-shadow: 1px 1px 2px white; */
}

.hero-section h1 {
    color: black;
    font-size: 80px;
}

.mainIcon2 {
  padding: 10px;
}

.company2 {
  font-size: 40px;
  font-weight: 900;
}

.herotxt {
  font-size: 20px;
}


@media only screen and (max-width: 950px) {
  .hero-section {
      width: 100%;
  }
}

